[Desktop Entry]
Name=Uluwatu Lock Screen
X-KDE-PluginInfo-Name=UluwatuLockScreen
X-KDE-PluginInfo-Author=gryphc
X-KDE-PluginInfo-Email=gryphc@gmail.com
X-KDE-PluginInfo-License=GPLv2+
