[Desktop Entry]
Name=Uluwatu
Name[fr]=Uluwatu
X-KDE-PluginInfo-Name=Uluwatu
X-KDE-PluginInfo-Author=Gryphc
X-KDE-PluginInfo-Email=gryphc@gmail.com
X-KDE-PluginInfo-License=GPLv2+
